# We don't want to commit the cache, because it may get big during dev
/data/

# generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out

# java specific
*.class

# Thumbnails
._*

# Files that might appear on external disk 
.Spotlight-V100
.Trashes
/nbproject/private/
/build/
/dist/

# Maven build stuff
/target/
/target /
/target 123/
data/cache.db
